apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://headlamp-k8s.github.io/headlamp/
    targetRevision: 0.27.0
    chart: headlamp
    helm:
      parameters:
        - name: service.type
          value: ClusterIP
        - name: ingress.enabled
          value: "true"
        - name: ingress.hosts[0].host
          value: headlamp
        - name: ingress.hosts[0].paths[0].path
          value: /
        - name: ingress.hosts[0].paths[0].pathType
          value: Prefix
        - name: config.anonymousAccess.enable
          value: "false"
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true