apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://kubernetes-sigs.github.io/headlamp/
    targetRevision: 0.27.0
    chart: headlamp
    helm:
      values: |
        service:
          type: ClusterIP
        ingress:
          enabled: true
          ingressClassName: tailscale
          hosts:
            - host: headlamp
              paths:
                - path: /
                  type: Prefix
          tls:
            - hosts:
                - headlamp
              secretName: headlamp-tls
        config:
          anonymousAccess:
            enable: false
  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true